.navbar{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 3px 0px #f5f5f5;
}
.button-burger{
    display: flex;
}
.authenticate{
    display: flex;
    text-align: center;
}
.ctn{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    border: 1px solid #800080;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px;
    color: #800080;
    background-color: white;
    transition: all .2s ease-in-out;
}
.ctn:hover{
    background: linear-gradient(95.79deg, #B771D0 0.84%, #8255C0 98.62%);
    color: white;
    border: none;
}
.ctn:not(:last-child){
    margin-right: 3px;
}
.hamburger{
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.hamburger .burger{
    background-color: #800080;
    border-radius: 18px;
    width: 30px;
    height: 4px;
}

.hamburger div:not(:last-child){
    margin-bottom: 5px;
}

/* section1 */
.section1{
    background: linear-gradient(86.45deg, rgba(128, 0, 128, 0.0951653) -133.64%, rgba(128, 0, 128, 0.0756279) -63.21%, rgba(128, 0, 128, 0.0756279) -63.21%, rgba(128, 0, 128, 0.0756279) -63.19%, rgba(128, 0, 128, 0.0712419) -47.37%, rgba(128, 0, 128, 0.0592802) -4.24%, rgba(128, 0, 128, 0.0485147) 34.58%, rgba(128, 0, 128, 0.0210105) 41.77%, rgba(128, 0, 128, 0.012475) 79.16%, rgba(128, 0, 128, 0) 89.22%, rgba(128, 0, 128, 0) 105.04%, rgba(128, 0, 128, 0) 122.29%, rgba(128, 0, 128, 0) 130.92%, rgba(128, 0, 128, 0) 130.92%, rgba(128, 0, 128, 0) 130.95%);
    text-align: center;

}
.initiative-part{
   text-align: center;
}
.initiative{
    margin: 54px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #800080;
    padding: 24px 30px;
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 4px 3px 0px #f5f5f5;
}
.text{
    color: #800080;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}
.text p{
    margin: 2px 0px;
}
.text p:nth-child(1){
    font-size: 16px;
}
.text p:nth-child(2){
    font-size: 24px;
    font-weight: 700;
    Line-height :36px;
}
.text button{
    font-weight: 600;
    margin-top: 10px;
}
.explore{
    text-align: center;
   margin-top: 40px;
}
.explore .button1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #800080;
    border: 2px solid #800080;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 14px 20px;
}
.explore .button2{
    background: linear-gradient(176.18deg, #800080 -2.53%, #7E267E 27.29%);
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding: 16px 60px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 3px 0px #f5f5f5;
    margin-top: 22px;
}
.brightenUp p:nth-child(1){
    color:#800080;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}
.brightenUp{
    padding: 20px 40px;
    background-color: #e0bfe0;
    margin: 0 5px;
    border-radius: 5px;
    box-shadow: 0px -3px 7px -2px grey;
    margin-top: 20px;
}
.brightenUp p:nth-child(2){
    color:#800080;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    letter-spacing: 0.03em;
}
.storyset{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "part1 part2";
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.storyset div:nth-child(2){
    grid-area: part1;
}
.storyset div:nth-child(3){
    grid-area: part2;
    align-self: center;
}

.know-illustrator{
    width: 100%;
}
.know p{
   margin: 0;
}
@media(max-width:424px){
    .know p:nth-child(1){
        font-size: 12px;
    }
}
.vector{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.vector img:nth-child(2){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
}
.grid-template{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 2fr;
    grid-template-areas: "item1 item2"
                         "item3 item4"
                         "item5 item6";
    grid-row-gap: 12px;
    grid-column-gap: 8px;
    padding: 35px;
}
.grid-template > div{
    aspect-ratio: 1;
}
.grid-template > div:nth-child(1){
    grid-area: item1;
}
.grid-template > div:nth-child(2){
    grid-area: item2;
}
.grid-template > div:nth-child(3){
    grid-area: item3;
}
.grid-template > div:nth-child(4){
    grid-area: item4;
}
.grid-template > div:nth-child(5){
    grid-area: item5;
}
.grid-template > div:nth-child(6){
    grid-area: item6;
}
.resources{
    background: #7E267E;
}
.resources > div{
    background: linear-gradient(139.02deg, #FFFFFF 23.24%, rgba(255, 255, 255, 0) 124.51%);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.l1{
    color: #800080;
    font-family: 'Montserrat';
    font-size: 21px;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    
}
.l2{
    color: #800080  ;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
@media(max-width:424px){
    .l2{
        font-size: 15px;
    }
    .resources,.course-names{
        padding: 20px;
    }
}
.receipes{
    margin: 0 30px;
    margin-top: 40px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 21px;
    color: #FFFFFF;
    background: linear-gradient(176.18deg, #800080 -2.53%, #7E267E 27.29%);
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.receipes p{
    margin: 0;
    text-align: center;
    padding: 10px;
}
.learn-at-pace{
    background-image: url('./assets/silver.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 30px;
    position: relative;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
}
.learn-at-pace::before{
    content: url('./assets/storyset2.png');
    content: url(./assets/storyset2.png);
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
}

.pace-layers{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    margin-bottom: 15px;
}
.rect{
    display: flex;
    justify-content: center;
}
.pace-layers > p{
    margin: 0px;
    color: #800080;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.learn-at-pace_text{
    font-weight: bold !important;
    font-size: 18px !important;
}
.money-back{
    background: linear-gradient(95.79deg, #B771D0 0.84%, #8255C0 98.62%);
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    border-radius: 20px;
}
.percentage{
    font-family: 'Faster one';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: justify;
    color: #FFFFFF;
}
.money-back > div{
    text-align: center;
}
.money-back > p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: justify;
    color: #FFFFFF;
}
#cash-back-reward{
    font-weight: 700;
    text-align: center;
}
.money-back p:nth-child(1){
    font-family: 700!important;
}
.know-more{
    color: #800080;
    background: #FFFFFF;
    font-family: 'Montserrat';
    box-shadow: 0px 4px 3px 2.5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-weight: 700;
    padding: 12px 50px;
}
.section2{
    background: rgba(200, 162, 200, 0.3);
    padding-top: 32px;
}
.select-skills{
    background: linear-gradient(176.18deg, #800080 -2.53%, #7E267E 27.29%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 0 30px;
}
.select-skills p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0px;
    margin: 0;
}
#categories{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #800080;
    margin-left: 10px;
}
.categories-button{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 10px;
}
.categories-button img{
    margin-left:10px;
}
.category-tech{
    background: conic-gradient(from 180deg at 50% 50%, #800080 0deg, #800080 0deg, rgba(128, 0, 128, 0.75) 22.69deg, #800080 82.69deg, rgba(128, 0, 128, 0.75) 105.19deg, #800080 172.69deg, rgba(128, 0, 128, 0.75) 193.31deg, #800080 272.07deg, rgba(128, 0, 128, 0.75) 287.07deg, #800080 360deg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
}
.category-common{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(128, 0, 128, 0.6);
    background: rgba(128, 0, 128, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px 20px;
    border: none; 
}
.category-creative{
    color: #FFFFFF;
    background: linear-gradient(95.79deg, #B771D0 0.84%, #9660C6 61.72%, #8255C0 98.62%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    border: none; 
}
.course-names > div{
    background: linear-gradient(176.18deg, #800080 -2.53%, #7E267E 27.29%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.course-names img{
    padding: 0 7px;
}
.course-img-box{
    text-align: center;
}
.name-of-course{
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}
.see-more{
    text-align: center;
    padding-bottom: 50px;
}
.see-more button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background: linear-gradient(176.18deg, #800080 -2.53%, #7E267E 27.29%);
    border-radius: 10px;
    padding: 6px 14px;
    border: none;
}
.interested{
    background: linear-gradient(176.18deg, #800080 -2.53%, #7E267E 27.29%);
}
.interested > p{
    margin: 0;
    padding: 35px 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
}
.buy-card{
    background: linear-gradient(139.02deg, #FFFFFF 23.24%, rgba(255, 255, 255, 0) 124.51%);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 30px 40px;
    position: relative;
}
@media(max-width:424px){
  .buy-card{
    margin: 30px 25px;
  }
}
.buy-details{
    display: inline-block;
}

.buy-details p:nth-child(1),.buy-details p:nth-child(2),.buy-details p:nth-child(3){
    color: #800080;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}
.buy-details p:nth-child(2),.buy-details p:nth-child(3){
    margin: 0;
}
.buy-details p:nth-child(1){
    margin: 8px 0;
}
.buy-details p:nth-child(2){
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.51);
}
.buy-details p:nth-child(3){
    text-align: end;
    color: #000000;
    font-size: 14px;
}
.buy-details p:nth-child(4){
    color: #000000;
    font-size: 10px;
    color: #800080;
}
.know-more-in-buy{
    text-align: center;
}
.know-more-in-buy button{
    background: #800080;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    padding: 7px 45px;
    font-weight: 600;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
}
.save-offer{
    background: conic-gradient(from 180deg at 50% 50%, #800080 0deg, #800080 0deg, rgba(128, 0, 128, 0.75) 22.69deg, #800080 82.69deg, rgba(128, 0, 128, 0.75) 105.19deg, #800080 172.69deg, rgba(128, 0, 128, 0.75) 193.31deg, #800080 272.07deg, rgba(128, 0, 128, 0.75) 287.07deg, #800080 360deg);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    right: -30px;
    top: 45px;
}
.save-offer > div{
    text-align: center;
}
.save-offer span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
   
}
.save-offer-curve{
    position: absolute;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: linear-gradient(176.18deg, #800080 -2.53%, #7E267E 27.29%);
    left: -24px;
    top: 50px;
}